@use "./scss/_index.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;600;700;800;900&display=swap");
html {
    scroll-behavior: smooth;
}
#root {
    margin: auto;
    width: 100%;
}
* {
    @extend %reset;
    transition: all 0.1s;
    padding: 0;
    font-family: "Cairo", sans-serif;
}

button {
    cursor: pointer;
}

//Remove arrows from number Input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}
//>


//Fix Sweat Alert Body Padding Issue
body {
  padding-right: 0 !important;
  &.swal2-shown{
    overflow: auto !important;
  }
}