$dark-color:#212022;
$danger-color: #dc3545;
$sucess-color: #28a745;
//Theme Colors
$theme-yellow: #f0bf26;



//Item Colors

$badge-color: rgb(65, 129, 206);

//Demostions GRID ROW =====================================
// headerHeight
$header-height: 55px;
$body-height: 1fr;
$footer-height: 100px;
